footer {
	width: 100%;
	height: 250px;
	border-top: 4px solid rgb(152, 207, 145);
	background: rgb(152, 207, 145);
	padding: 10px 0px;
	margin-top: 150px;

	.inner {
		width: 1180px;
		height: 100%;
		margin: 0px auto;
		position: relative;
		bottom: 0px;
		left: 0px;

		h1 {
			font: bold 25px/1 'arial';
			color: #333;
			position: absolute;
			top: 3%;
			left: 40px;
		}
		.icons {
			float: left;
			position: absolute;
			top: 20%;
			left: 46px;
			font-size: 23px;
			color: #333;

			.fa-facebook-f {
				padding: 10px 10px;
			}

			.fa-instagram {
				padding: 10px 10px;
			}

			.fa-youtube {
				padding: 10px 10px;
			}
		}
		.navF {
			position: absolute;
			top: 40%;
			left: 23%;
			display: flex;

			a {
				color: #333;
				font: 13px/1 'arial';
				display: inline-block;
				padding: 10px 20px;
			}
		}
		.subscribe {
			position: relative;
			width: 100%;
			height: 80%;
			right: 0%;
			top: 20%;

			h2 {
				position: absolute;
				right: 5%;
				width: 270px;
				font: bold 20px/1 'arial';
				color: #333;
			}
			input {
				position: absolute;
				right: 8%;
				top: 20%;
				margin-top: 10px;
				width: 236px;
				height: 35px;
			}
			li {
				position: absolute;
				right: 4%;
				top: 25%;
				width: 48px;
				height: 36px;
				border: 1px solid #333;
				border-radius: 10%;
				text-align: center;
				padding: 3px;
				color: #333;
			}
		}

		p {
			position: absolute;
			bottom: 0%;
			left: 40%;

			font: 10px/1 'arial';
			color: #555;
			letter-spacing: 2px;
		}
	}
	&::after {
		content: '';
		display: block;
		position: relative;
		bottom: 9%;
		width: 100%;
		height: 1px;
		background: #777;
	}
}
