.content {
	> .inner {
		min-height: 800px;
		margin: 100px auto;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: all 1s;
	}

	&.on {
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
