.Youtube {
	.classBg {
		margin-bottom: 30px;
		> .inner {
			left: -160px;
			top: -101px;
			width: 126.7%;
			height: 770px;
			position: relative;
			margin: 0 auto;
			overflow: hidden;

			.classBgPic {
				width: 100%;

				img {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					background: rgb(0, 0, 0);
					opacity: 0.2;
				}
			}
			h1 {
				position: absolute;
				right: 10px;
				top: 40px;
				font: bold 110px/1 'Josefin Sans';
				color: rgb(255, 255, 255);
				padding: 50px;
				border-radius: 5px;
				text-align: right;
				margin: 0;
			}
		}
	}

	.class2 {
		width: 100%;
		overflow: hidden;

		h1 {
			font: bold 60px/1 'Quicksand';
			color: rgb(114, 169, 107);
			margin-bottom: 30px;
		}
		> .inner {
			width: 1180px;
			position: relative;
			margin: 0 auto;
			display: flex;

			> article {
				width: 100%;
				height: 600px;
				background: red;

				.classVids2 {
					position: relative;
					width: 92%;
					height: 100%;
					background: blue;
					left: 12px;

					img {
						width: 100%;
						height: 350px;
						transform: translateY(60px);
					}

					.classtxt2 {
						transform: translateY(70px);
					}
				}
			}
		}
	}
}
