.Youtube {
	.classBg {
		margin-bottom: 30px;
		> .inner {
			left: -160px;
			top: -101px;
			width: 126.7%;
			height: 770px;
			position: relative;
			margin: 0 auto;
			overflow: hidden;

			.classBgPic {
				width: 100%;

				img {
					position: absolute;
					left: 0px;
					top: -0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					background: rgb(0, 0, 0);
					opacity: 0.2;
				}
			}
			.youtubeH {
				position: absolute;
				right: 30px;
				top: 40px;
				font: bold 110px/1 'Josefin Sans';
				color: rgb(255, 255, 255);
				padding: 50px;
				border-radius: 5px;
				text-align: right;
			}
		}
	}

	.class {
		width: 100%;
		overflow: hidden;

		h1 {
			font: bold 60px/1 'Quicksand';
			color: rgb(114, 169, 107);
			margin-bottom: 30px;
		}
		> .inner {
			width: 1180px;
			position: relative;
			margin: 0 auto;
			display: flex;
			margin-bottom: 300px;

			.classVids {
				width: 100%;

				.classPic {
					width: 90%;
					filter: saturate(0.2);
					transition: 0.5s;

					> img {
						margin-top: 30px;
						width: 100%;
						height: 450px;
						border-radius: 20px;
					}
				}
				.classtxt {
					position: absolute;
					background: #fff;
					width: 22.5%;
					bottom: -70px;
					border-radius: 10px;
					padding: 15px;
					text-align: center;
					opacity: 0;
					transition: 0.5s;
					box-shadow: 5px 10px 20px rgb(146, 165, 143);

					h2 {
						font: bold 20px/1 'Quicksand';
						margin-bottom: 20px;
						color: rgb(103, 132, 99);
					}

					&::after {
						content: '';
						display: block;
						width: 80px;
						height: 2px;
						background: rgb(255, 172, 225);
						position: absolute;
						top: 39%;
						left: 34%;
					}

					p {
						font: 14px/1.2 'Quicksand';
						margin-bottom: 20px;
						color: rgb(103, 132, 99);
					}
					span {
						font: 11px/1 'Quicksand';
						color: rgb(103, 132, 99);
					}
				}
				&:hover {
					.classPic {
						filter: saturate(1.2);
					}
					.classtxt {
						opacity: 1;
					}
				}
			}
		}
	}
}
